extends ../layout

block content
 h1=show.trip.name
 p=show.trip.startDate
 p=show.trip.endDate
 for item in show.comments
  p=item.message
  form(action="/comment/"+item._id+"/"+item.tripId, method="post")
   input(type="submit" value="X")
 h1 Invited users
 for item in show.people
  p=item.email
 form(action="/comment/"+show.trip._id, method="post")
  label(for="comment") comment
  textarea(type="text" name="comment" id="comment")
  input(type="submit" value="Comment")
  
 form(action="/invite/"+show.trip._id, method="post")
  label(for="invite") Invite a user
  input(type="text" name="invite" id="invite")
  input(type="submit" value="invite")
  
 a(href="/trip/"+show.trip._id+"/edit") Edit Trip
 
 form(action="/trip/"+show.trip._id+"/delete", method="post")
  input(type="submit" value="Delete Trip")
